<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD65rvi_yHwOn76DJOoHq-ehty70n2uqUA</string>
	<key>GCM_SENDER_ID</key>
	<string>148623012736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klock.app</string>
	<key>PROJECT_ID</key>
	<string>klock-mobile-android</string>
	<key>STORAGE_BUCKET</key>
	<string>klock-mobile-android.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148623012736:ios:fcffc6387f874425864765</string>
</dict>
</plist>